.wrapper {
    font-family: 'arial', sans-serif;
}
input.icon {
    padding: 5px;
}
input.icon::-webkit-input-placeholder {
    font-family: 'FontAwesome';
}
input.icon::-moz-placeholder {
    font-family: 'FontAwesome';
}
input.icon::-ms-input-placeholder {
    font-family: 'FontAwesome';
}
.body_style
{

    font-family: open-sans;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}
.cameoantique {
    font-family: 'CameoAntique';
    width: 97%;
    color: white;
    font-size: 40px;
    text-align: center;
    margin-left: 15px;
}
.dollar {
    color: #CD623F;
    font-size: 170%;
    font-weight: bold;
}
.box {
    width: 50%;
}
.btncolor {
    background-color: #CD623F;
    border-color: #CD623F;
}
.btn_learnmore {
    background-color: #5B8F99;
    border-color: #5B8F99;
    width: 150px;
}
.text {
    color: white;
    font-weight: 400;
}
.red {
    color: red;
}
.green {
    color: #7ABFD0;
}
.btn-green{
    background-color: #2ecc71;
    border-bottom: 2px solid #27ae60;
}
.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active, .open .dropdown-toggle.btn-green {
    background-color: #27ae60;
    color: #ffffff;
}
.templatemo-top-menu
{
    background-color: #d3d3d3;
    z-index:5000;
    width:100%;
    position: fixed;

}
.templatemo-top-bar {
    min-height: 40px;
    background-color:#eeeeee;
}
.templatemo-top-menu .navbar-brand {
    padding: 0;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
}
/**{
    border-radius:0 !important;
}*/
.nav > li > a {
    padding: 10px 20px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #787878;
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #787878;
    color: #fff;
}
.nav > li > a {
    color: #929292;
}
.navbar-default {
    background-color: #D3D3D3;
    border: none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #787878;
    color: #fff;
}

.navbar {
    margin-bottom: 0px;
}
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 9px;
    padding-bottom: 9px;
  } 
}
.borderbox {
    border: 2px solid #887E79;
    border-radius: 3px;
    border-width: 2px;
    padding: 1px;
    padding-left: 3px;
    padding-right: 3px;
}
.bidders {
    color: #CD623F;
    font-size: 20px;
    font-weight: bold;
}
.white {
    color: #F2EFE3;
}
.black {
    color: #564841;
}
.payment_text {
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
}
#slider1 .ui-slider-range {
    background: #FFA500;
}
#slider1 .ui-slider-handle {
    border-color: #FFA500;
}
#slider2 .ui-slider-range {
    background: #FFA500;
}
#slider2 .ui-slider-handle {
    border-color: #FFA500;
}
.panelborder {
    border-radius: 81px;
    border-color: black;
}
.bulletpoints {
    font-size: 15px;
    text-align: left;
    margin-left: -15px;
    line-height: 200%
}
.plantext {
    line-height: 165%;
    font-size: 15px;
    text-align: left;
}
.footer {
    margin-bottom: 0px;
    padding-top: 35px;
    background-color: #d3d3d3;
    margin-top: 20px;
    color: #FFFFFF;
    width:100%;

}
.templatemo-footer {
    border-top: 2px solid #cccccc;
    margin-top: 50px;
    background-color: #787878;
    color: #FFFFFF;
}
.footer_container{
    color: #FFFFFF;
}
.footer_bottom_content {
    margin: auto;
    margin-bottom: 30px;
    font-size: 14px;
    color: #FFFFFF;
}
/*.nav-header {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 0.5em;
    text-transform: uppercase;
    color:black;
}
.nav-link {
    font-size: 14px;
    line-height: 14px;
    padding: 0.5em 0;
}*/
 @media (min-width: 768px){
.custom_width .col-sm-2 { width: 19.285714285714%; }
}

.btn-grey
{
    background-color: #333333;
    color: #FFFFFF;
}
a:hover.btn.btn-grey
{
    background-color: #FF6600;
    color: #FFFFFF;
}
a:hover.link_hover
{
    background-color: #FF6600;
    color: #FFFFFF;
}
.footer_white
{
    color:#FFFFFF;
}
.input-group {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    width: 100%;
}

input.btn.btn-med {
    width: 40%;
    height: 35px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


@font-face {
    font-family: 'CameoAntique';
    src: url('fonts/CameoAntique.ttf.woff') format('woff'), url('fonts/CameoAntique.ttf.svg#CameoAntique') format('svg'), url('fonts/CameoAntique.ttf.eot'), url('fonts/CameoAntique.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
